# Virtual environments
venv/
*/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# IDE stuff
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Checkpoints
.ipynb_checkpoints/
